<div class="col-md-3 answer-sidebar">
  <h2>Para más información</h2>
  <p>Contacte a la SEDEMA</p>
  <p>Telefono: 55 1234 5678 de 9 a 5 pm</p>
  <p>Correo: <a href="#">info@sedema.df.gob.mx</a></p>
  
  <h2>Respuestas relacionadas</h2>
  <p><a href="#">¿Cuando debo verificar mi auto?</a></p>
  <p><a href="#">¿Por que es obligatoria la verificación
      vehicular?</a></p>
  <p><a href="#">¿Si mi auto tiene placas de otro estado debo
      verificarlo?</a></p>
</div>
