<!-- answers#home -->
<div class="row">
  <div class="col-md-12">
    <h1>Respuestas</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Verificación</h2>
    <p><a href="<%= url_for({ controller: 'answers', action: 'verificentros' })%>">
        ¿Donde puedo llevar mi auto a verificar?</a></p>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12">
    <p id="txt-answers-welcome">Elija la categoría de su pregunta para
      consultar las respuestas disponibles.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#answers-verificacion">Verificación</a>
          </h2>
        </div>
        <div id="answers-verificacion" class="panel-collapse collapse">
          <div class="panel-body">
            Pendiente
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#answers-infracciones">Infracciones</a>
          </h2>
        </div>
        <div id="answers-infracciones" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Pendiente</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
               href="#answers-tenencia">Tenencia</a>
          </h2>
        </div>
        <div id="answers-tenencia" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Pendiente</p>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div>
-->
