<!-- answers#verificentros_delegaciones -->
<div class="row">
  <div class="col-md-12">
    <h1 class="question">Verificentros por delegación</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render 'verificentros_delegaciones' %>
  </div>
  <%= render 'sidebar' %>
</div>
