<% if @vehicle.tenencias_unpaid > 0 %>
<!-- con adeudos de tenencia -->
<div class="alert alert-warning">
  <% if @vehicle.tenencias_unpaid > 1 %>
  <strong>Su auto tiene adeudos por los años
    <% else %>
    <strong>Su auto tiene un adeudo por el año
      <% end %>
      <%= @vehicle.tenencias_unpaid_str %>:</strong> Recuerde que
    debe realizar su pago antes de llevar su auto a verificar.</div>
<p><a href="#">Consulte las opciones para pagar la tenencia de su
    auto &raquo;</a></p>
<% else %>
<!-- sin adeudos de tenencia -->
<div class="alert alert-success">Su auto no tiene adeudos
  de tenencia.</div>
<% end %>
