<!-- info#home -->
<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1>Información</h1>
  </div>
</div>

<!-- bienvenida -->
<div id="txt-info-home" class="row">
  <div class="col-md-offset-2 col-md-8">
    <% if @error %>
    <!-- si hay error -->
    <% if @error == 'MISSING_PLATE' %>
    <div class="alert alert-warning"><strong>La placa que ingreso no es
        valida:</strong> Debe contener números y letras.</div>
    <% elsif @error == 'INVALID_PLATE' %>
    <div class="alert alert-warning"><strong>La placa que ingreso no es
        valida:</strong> Debe contener máximo 14 números y letras.</div>
    <% else %>
    <div class="alert alert-warning"><strong>Intente más
        tarde:</strong> Tenemos problemas técnicos para
      consultar las fuentes de datos sobre automoviles.</div>
    <% end %>
    <% else %>
    <!-- si no hay error -->
    <p id="txt-info-welcome" class="text-center">Ingrese la placa de su
      auto y consulte el estado de su verificacion, hoy no circula,
      infracciones y tenencias.</p>
    <% end %>
  </div>
</div>

<!-- forma -->
<%= form_tag({ controller: 'info', action: 'home' },
    { method: 'post', class: 'form-inline', id: 'form-info-home' }) do %>

<div class="row">
  <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4">
    <input id="input-info-plate" name="plate" type="text"
           placeholder="Placa" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <button type="submit" class="btn btn-primary">Continuar</button>    
  </div>
</div>

<% end %>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/home');
  ga('set', 'title', 'Info - Home');
  ga('send', 'pageview');
</script>

<% if Rails.env.development? %>
<!-- debug -->
<h2>Debug</h2>
<h3>@error</h3>
<%= debug(@error) %>
<h3>@vehicle</h3>
<%= debug(@vehicle) %>
<% end %>
