<!-- notices#_settings -->
<div class="row">
  <div class="col-md-12">
    <p class="lead">¿Qué avisos desea recibir sobre su auto?</p>
  </div>
</div>

<% if request.post? && @errors[:MISSING_USER_NOTICES] %>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning"><strong>Debe seleccionar por lo
        menos un aviso.</strong></div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="checkbox">
      <label><input type="checkbox"
                    <%= setting_checked('verificacion', true) %>
                    name="user[verificacion]">Verificación</label>
      <p><span class="help-block">Recibira un aviso antes de que inicie
        el periodo para verificar su auto y recordatorios cada dos
        semanas para que no olvide la verificación de su
        auto.</span></p>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"
                    <%= setting_checked('adeudos', true) %>
                    name="user[adeudos]">Pago de tenencias e
        infracciones</label>
      <p><span class="help-block">Recibira un aviso cuando tenga nuevos
          pagos pendientes y recordatorios para que aproveche los
          beneficios de pagar a tiempo la tenencia e
          infracciones.</span></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="checkbox">
      <label>
        <input type="checkbox" 
               <%= setting_checked('no_circula_weekday', false) %>
               name="user[no_circula_weekday]">
        Hoy no circula de lunes a viernes</label>
      <p><span class="help-block">Recibira avisos un día antes de que
          su auto no pueda circular entre lunes y viernes.</span></p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"
               <%= setting_checked('no_circula_weekend', true) %>
               name="user[no_circula_weekend]">Hoy no circula
        sabatino</label>
      <p><span class="help-block">Recibira avisos un día antes de que
        su auto no pueda circular en sábado.</span></p>
    </div>
  </div>
</div>
