<!-- notices#results -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 text-center">
      <h1>Avisos</h1>
    </div>
  </div>
  
  <!-- resultado -->
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <% if @user.email %>
      <div class="alert alert-info">Debe confirmar su suscripción a los
        avisos de su auto con placa <strong><%= @user.plate %></strong>
        visitando la dirección que le enviamos a su correo
        electrónico.</div>
      <% elsif @user.phone %>
      <div class="alert alert-info">Debe confirmar su suscripción a los
        avisos de su auto con placa <strong><%= @user.plate %></strong>
        durante la llamada telefonica que realizaremos a su número de
        telefono.</div>
      <% end %>
    </div>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/notices/results');
  ga('set', 'title', 'Notices - Results');
  ga('send', 'pageview');
</script>
