<!-- notifier#welcome -->
<h1>Bienvenido</h1>

<p>La suscripción a los avisos de su auto con
  placa <strong><%= @user.plate %></strong> ha sido activada. Recibira
  en su correo electrónico los siguientes avisos sobre su auto:</p>

<ul>
  <% if @settings['VERIFICACION'] %>
  <li style="margin: 15px"><strong>Periodo para verificar su
      auto</strong><br/>Recibira un aviso cuando inicie el periodo para
    verificar su auto, recordatorios quincenales hasta que su auto
    apruebe la verificación y una confirmación de que su auto aprobo la
    verificación.<br/></li>
  <% end %>

  <% if @settings['ADEUDOS'] %>
  <li style="margin: 15px"><strong>Adeudos de tenencias e
      infracciones</strong><br/>Recibira un aviso cuando su auto
    presente nuevos adeudos, recordatorios mensuales para liquidar sus
    adeudos y una confirmación cuando su auto no tenga
    adeudos<br/></li>
  <% end %>
  
  <% if @settings['NO_CIRCULA_WEEKDAY'] %>
  <li style="margin: 15px"><strong>Un día antes de que su auto no pueda
      circular de lunes a viernes</strong><br/></li>
  <% end %>

  <% if @settings['NO_CIRCULA_WEEKEND'] %>
  <li style="margin: 15px"><strong>Un día antes de que su auto no pueda
      circular en sábado</strong><br/></li>
  <% end %>
</ul>

<p>Recuerde que en cualquier momento puede modificar su suscripción o
  cancelarla en la siguiente dirección:</p>

<a href="<%= url_for(controller: 'notices', action: 'confirm', user: @user.id, only_path: false) %>">
  <%= url_for(controller: 'notices', action: 'confirm', user: @user.id, only_path: false) %></a>

<p>Gracias y saludos.</p>
