<!-- notifier#welcome -->
<h1>Bienvenido</h1>

<p>La suscripción a los avisos de su auto con
  placa <strong><%= @user.plate %></strong> ha sido activada. Recibira
  en su correo electrónico los siguientes avisos sobre su auto:</p>

<ul>
  <% if @settings['VERIFICACION'] %>
  <li style="margin: 15px"><strong>Verificación</strong><br/>Recibira
    un aviso antes de que inicie el periodo para verificar su auto y
    recordatorios cada dos semanas para que no olvide la verificación
    de su auto.</li>
  <% end %>

  <% if @settings['ADEUDOS'] %>
  <li style="margin: 15px"><strong>Pago de tenencias e
      infracciones</strong><br/>Recibira un aviso cuando tenga nuevos
    pagos pendientes y recordatorios para que aproveche los beneficios
    de pagar a tiempo la tenencia e infracciones.</li>
  <% end %>
  
  <% if @settings['NO_CIRCULA_WEEKDAY'] %>
  <li style="margin: 15px"><strong>Hoy no circula de lunes a
      viernes</strong><br/>Recibira avisos un día antes de que su
    auto no pueda circular entre lunes y viernes.</li>
  <% end %>
  
  <% if @settings['NO_CIRCULA_WEEKEND'] %>
  <li style="margin: 15px"><strong>Hoy no circula
      sabatino</strong><br/>Recibira avisos un día antes de que su
    auto no pueda circular en sábado.</li>
  <% end %>
</ul>

<!-- <p>Recuerde que en cualquier momento puede modificar su suscripción o
  cancelarla en la siguiente dirección:</p>

<a href="<%= url_for(controller: 'notices', action: 'confirm', user: @user.id, only_path: false) %>">
  <%= url_for(controller: 'notices', action: 'confirm', user: @user.id, only_path: false) %></a> -->

<p>Gracias y saludos.</p>
