<!-- notifier#_end -->
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 30px 0 20px 0;
           text-transform: uppercase;">Importante</h2>

<p style="margin: 20px 0;">La información mostrada tiene caracter
  informativo y no puede ser utilizada como un documento
  oficial. Conserva el último certificado de verificación y los pagos
  de tenencías e infracciones para cualquier aclaración.</p>

<p style="margin: 20px 0;">Si este recordatorio es incorrecto por favor 
  reportalo contestando este correo o escribiendo a
  <a href="mailto:contacto@verificalo.mx">contacto@verificalo.mx</a>.</p>

<p style="margin: 20px 0;">Recuerda que en cualquier momento y desde
  cualquier dispositivo puedes consultar el estado de tu auto
  en <a href="http://verificalo.mx">verificalo.mx</a></p>
