<!-- notifier#_no_circula_verificacion -->
<% if @vehicle.verificacion_expired? %>
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 30px 0 20px;
           text-transform: uppercase;">No puede circular hasta verificar</h2>
<p style="margin: 20px 0;">La verificación de tu auto vencio el 
  <strong><%= @vehicle.verificacion_current_expired_str %></strong>.</p>
<p style="margin: 20px 0;">Tu auto no tiene una verificación vigente y
  por lo tanto <strong>no puede circular</strong>.</p>
<p style="margin: 20px 0;">Recuerda que debes pagar una multa por
  verificación extemporanea antes de llevar tu auto a verificar.</p>
<% end %>
