<!-- notifier#_no_circula_verificacion -->
<% if @vehicle.verificacion_expired? %>
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 40px 0 20px;
           text-transform: uppercase;">No puede circular hasta verificar</h2>
<p style="margin: 20px 0;">La verificación de tu auto vencio el 
  <strong><%= @vehicle.verificacion_current_expired_str %></strong>.</p>
<p style="margin: 20px 0;">Tu auto no tiene una verificación vigente y
  por lo tanto <strong>no puede circular</strong>.</p>
<p style="margin: 20px 0;">Recuerda que debes pagar una multa por
  verificación extemporanea antes de llevar tu auto a verificar.</p>
<% end %>

<% unless @vehicle.verificaciones_approved? %>
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 40px 0 20px;
           text-transform: uppercase;">Nunca ha aprobado la verificación</h2>
<p style="margin: 20px 0;">Tienes 180 días naturales a partir de la
  fecha de alta de tu auto para que apruebe la verificación por primera
  vez.</p>
<p style="margin: 20px 0;">Si ya paso el periodo de 180 días para su
  primera verificación, tu auto <strong>no puede circular</strong> y
  debes pagar una multa por verificación extemporanea antes de llevarlo
  a verificar.</p>
<p style="margin: 20px 0;">Si todavía estas en el periodo de 180 días
  para su primera verificación y como su placa termina en
  <strong><%= @vehicle.plate_last_digit_str %></strong> no puede
  circular de las 5 a las 22 horas:</p>
<ul style="padding-left: 15px;">
  <li>Todos los 
    <strong><%= @vehicle.no_circula_weekday_str %></strong>.</li>
  <li>Todos los <strong>sábados</strong>.</li>
</ul>
<% end %>
