<!-- notifier#_no_circula_weekday -->
<% if @vehicle.no_circula_dos? %>
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 30px 0 20px;
           text-transform: uppercase;">No circula mañana</h2>
<p style="margin: 20px 0;">Tu auto obtuvo el holograma
  <strong><%= @vehicle.verificacion_last_approved_result %></strong>
  en su última verificación y como su placa termina en
  <strong><%= @vehicle.plate_last_digit_str %></strong> no puede
  circular todos los 
  <strong><%= @vehicle.no_circula_weekday_str %></strong>.
</p>
<% end %>

<% if @vehicle.no_circula_expired? %>
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 30px 0 20px;
           text-transform: uppercase;">No puede circular</h2>
<p style="margin: 20px 0;">Tu auto no tiene una verificación vigente y
  por lo tanto no puede circular.</p>
<% end %>
