<!-- notifier#_verificacion -->
<% if @vehicle.verificacion_period? %>
<h2 style="color: #494b57;
           font-size: 20px;
           font-weight: bold; 
           margin: 40px 0 20px;
           text-transform: uppercase;">Debes verificalo</h2>
<p style="margin: 20px 0;">Tu auto debe aprobar
  la verificación a más tardar el
  <strong><%= @vehicle.verificacion_current_vigency_str %></strong>.</p>
<% end %>
