<!-- notifier#confirm -->
<h1 style="color: #494b57;
           font-size: 23px; 
           font-weight: bold; 
           margin: 20px 0 25px 0;
           text-transform: uppercase;">Confirma tu suscripción</h1>

<p style="margin: 20px 0;">Confirma que deseas recibir en tu
  correo electrónico los recordatorios sobre:</p>

<ul style="padding-left: 15px;">
  <% if @user.verificacion %>
  <li style="margin: 5px">Verificación</li>
  <% end %>

  <% if @user.adeudos %>
  <li style="margin: 5px">Adeudos de tenencias e infracciones</li>
  <% end %>
  
  <% if @user.no_circula_weekday %>
  <li style="margin: 5px">Hoy no circula de lunes a viernes</li>
  <% end %>
  
  <% if @user.no_circula_weekend %>
  <li style="margin: 5px">Hoy no circula sabatino</li>
  <% end %>
</ul>

<p style="margin: 20px 0;">De tu auto con placa 
  <strong><%= @user.plate %></strong>.</p>

<p style="margin: 40px 0;">
  <span style="padding: 10px 18px;
               background-color: #268f8d">
    <a style="font-size: 15px; color: #fff;"
       href="<%= url_for(controller: 'notices', 
             action: 'user', uuid: @user.id,
             only_path: false) %>">Confirmar</a>
  </span>
</p>

<p style="margin: 20px 0;">O haz click en el siguiente link:</p>

<p style="margin: 20px 0;">
  <a href="<%= url_for(controller: 'notices', 
           action: 'user', uuid: @user.id, 
           only_path: false) %>">
    <%= url_for(controller: 'notices', 
        action: 'user', 
        uuid: @user.id, 
        only_path: false) %></a></p>
