<p><a class="btn btn-primary btn-sm btn-wide btn-answer"
      href="<%= url_for({ controller: 'answers',
            action: 'answer',
            category_url: answer.category.url,
            answer_url: answer.url })%>">
    <%= answer.title %></a></p>
