<p><a class="answer" href="<%= url_for({ controller: 'answers',
                           action: 'answer',
                           category_url: answer.category.url,
                           answer_url: answer.url })%>">
    <%= answer.title %></a></p>
