<h4 class="title">Respuestas por categoria</h4>

<% Category.order("priority ASC").each do |c| %>
<p><a href="<%= url_for({ controller: 'answers',
            action: 'category',
            category_url: c.url })%>">
    <%= c.name %></a></p>
<% end %>
