<div class="row">
  <div class="col-xs-12">
    <h2 class="title title-back">Resultados</h2>
    <p class="back-answers-top">
      <a href="<%= url_for({ controller: 'answers',
               action: 'home' })%>">
        Regresar &raquo;</a></p>
  </div>
  <% @results.each do |a| %>
  <div class="col-sm-6">
    <%= render partial: 'answer', object: a %>
  </div>
  <% end %>
  <div class="col-xs-12">
    <p class="back-answers-bottom">
      <a href="<%= url_for({ controller: 'answers',
               action: 'home' })%>">
        Regresar &raquo;</a></p>
  </div>
</div>
