<%= form_tag({ controller: 'answers', action: 'verificentros_search' },
    { method: 'post', id: 'form-verificentros' }) do %>
<div class="row">
  <div class="col-md-9 col-sm-10">
    <input name="verificentros_query" type="text" 
           placeholder="Colonia o código postal"
           <% if request.post? and params[:verificentros_query].present? %>
           value="<%= params[:verificentros_query] %>"
           <% end %>
           class="form-control input">
  </div>
  <div class="col-md-2 col-sm-2">
    <button id="btn-verificentros-search" type="submit"
            class="btn btn-primary btn">Buscar</button>
  </div>
</div>
<% end %>
