<!-- answers#category -->
<div class="row">
  <div class="col-md-12">
    <h1 class="category"><%= @category.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <% @answers.each_slice(2) do |r| %>
    <div class="row">
      <% r.each do |a| %>
      <div class="col-md-6">
        <%= render partial: 'answer', object: a %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-md-5">
    <p><a href="<%= url_for({ controller: 'answers',
                action: 'home' })%>">
        Regresar a Respuestas &raquo;</a></p>
    <div id="answer-sidebar">
      <h2>Buscar</h2>
      <%= render 'search' %>
    </div>
  </div>
</div>
