<!-- answers#category -->
<div class="row">
  <div class="col-md-8">
    <h1>Verificación</h1>
    <p><a href="<%= url_for({ controller: 'answers',
                action: 'home' })%>">
        Regresar &raquo;</a></p>
    <p>Consulte las respuestas sobre Verificación para autos
      particulares de la Ciudad de México.</p>
    <p><a href="#">Uno</a></p>
    <p><a href="#">Dos</a></p>
    <p><a href="#">Tres</a></p>
    <p><a href="#">Cuatro</a></p>
    <p><a href="#">Cinco</a></p>
  </div>
  <div class="col-md-4">
    <%= render 'search' %>
  </div>
</div>
