<!-- answers#home -->
<div class="row">
  <div class="col-md-12">
    <h1>Respuestas</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Categorias</h2>
    <p>Visite las categorias o consulte las respuestas más utiles sobre
      autos particulares de la Ciudad de México.</p>
    <div class="row">
      <div class="col-md-6">
        <h3 class="category"><a hrer="#">Verificación</a></h3>
        <p><a href="<%= url_for({ controller: 'answers', 
                    action: 'verificentros' })%>">
            ¿Donde debo llevar mi auto a verificar?</a></p>
        <p><a hrer="#">
            ¿Qué es la verificación vehícular?</a></p>
        <p><a hrer="#">
            Consejos para antes de verificar su auto</a></p>
        <p><a hrer="#">
            Ver más &raquo;</a></p>        
        <!-- <p><a hrer="#">
            ¿Cuando debo verificar mi auto?</a></p>
        <p><a hrer="#">
            ¿Qué necesito para verificar mi auto?</a></p>
        <p><a hrer="#">¿Cuanto cuesta la verificación?</a></p>
        <p><a hrer="#">
            ¿La verificación aplica a vehículos de otros estados?</a></p>
        <p><a href="#">
            ¿Cual es la sanción por no verificar mi auto?</a></p>
        <p><a hrer="#">
            ¿Por qué es importante la verificación vehicular?</a></p> -->
      </div>
      <div class="col-md-6">
        <h3 class="category"><a href="#">Hoy no circula</a></h3>
        <p><a hrer="#">
            ¿Qué es el hoy no circula?</a></p>
        <p><a hrer="#">
            ¿Cuando no circula mi auto?</a></p>
        <p><a href="#">
            ¿Que vehículos extan exentos del hoy no circula?</a></p>
        <p><a hrer="#">
            Ver más &raquo;</a></p>        
        <!-- <p><a href="#">
            ¿El hoy no circula aplica a vehículos de otros estados?</a></p>
        <p><a href="#">
            ¿Cual es la sanción por no respetar el hoy no
            circula?</a></p> -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h3 class="category"><a href="#">Infracciones</a></h3>
        <p><a hrer="#">
            ¿Qué es una infracción vehicular?</a></p>
        <p><a hrer="#">
            ¿Quien puede aplicar infracciones vehiculares?</a></p>
        <p><a hrer="#">
            ¿Cuanto tiempo tengo para pagar mis infracciones?</a></p>
        <p><a hrer="#">
            Ver más &raquo;</a></p>        
        <!-- <p><a href="#">
            ¿Donde puedo pagar mis infracciones vehículares?</a></p>
        <p><a hrer="#">
            ¿Cual es el reglamento de transito de la Ciudad de
            México?</a></p>
        <p><a hrer="#">
            ¿Como puedo disputar una infracción?</a></p> -->
      </div>
      <div class="col-md-6">
        <h3 class="category"><a href="#">Tenencia</a></h3>
        <p><a hrer="#">
            ¿Que es la tenencia y el refrendo?</a></p>
        <p><a hrer="#">
            ¿Que vehículos estan excentos de tenencia?</a></p>
        <p><a href="#">
            ¿Donde puedo pagar la tenencia?</a></p>
        <p><a hrer="#">
            Ver más &raquo;</a></p>        
        <!-- <p><a href="#">
            ¿Cuando pagar la tenencia y refrendo?</a></p> -->
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2>Buscar</h2>
    <p>Encuentre las respuestas a sus preguntas sobre autos
      particulares de la Ciudad de México.</p>
    <%= form_tag({ controller: 'answers', action: 'search' },
        { method: 'post', id: 'form-answers' }) do %>
    <div class="row">
      <div class="col-xs-9">
        <input name="answers-query" type="text" 
               placeholder="Hoy no circula, verificación, etc"
               <% if request.post? and @query_value %>
               value="<%= @query_value %>"
               <% end %>
               class="form-control input">
      </div>
      <div class="col-xs-3">
        <button id="btn-answers-search" type="submit"
                class="btn btn-primary btn">Buscar</button>
      </div>
    </div>
    <% end %>    
    <p class="help-block">Ingrese los terminos de su pregunta y haga
      click en el botón buscar.</p>
  </div>
</div>


<div class="row">
