<!-- answers#verificentros -->
<div class="row">
  <div class="col-md-12">
    <h1 class="question">¿Donde debo llevar mi auto a verificar?</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p class="answer">Existen <%= @verificentros_count %> verificentros
      en la Ciudad de México donde puede llevar su auto a
      verificar.</p>

    <h2 class="answer">Encuentre los verificentros más cercanos</h2>
    <%= render 'verificentros_query_form' %>
    
    <h2 class="answer">Consulte verificentros por delegación</h2>
    <%= render 'verificentros_delegaciones' %>
  </div>

  <%= render 'sidebar' %>
</div>
