# smtp
smtp_from: Example <example@example.com>
smtp_base_url: example.com
smtp_auth: plain
smtp_addr: smtp.example.com
smtp_port: 587
smtp_domain: example.com
smtp_user: postmaster@example.com
smtp_pwd: secret

# twilio
twilio_ssid: secret
twilio_token: secret
twilio_from: +1234567890
twilio_callback_host: example.com
twilio_callback_port: 80

# mapxbox
mapbox_id: codigocdmx.example

# elasticsearch
elasticsearch_url: http://localhost:9200

# mailgun
mailgun_campaign: id

# maintenance
disable_info: false
