defaults: &defaults
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  timeout: 5000

development:
  database: verificalo_development
  <<: *defaults

test:
  database: verificalo_test
  <<: *defaults

production:
  database: verificalo_production
  <<: *defaults
