/* answers */

h1.question {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

h2.answer {
    font-size: 22px;
    margin: 20px 0 10px 0;
}

p.answer {
    font-size: 17px;
    margin: 10px 0;
}

.answer-sidebar {
    background-color: #E6E6E6
}

.answer-sidebar h2 {
    font-size: 22px;
}

/* answers#verificientros */

#form-verificentros {
    margin-top: 20px;
}

#list-delegaciones {
    margin: 10px 0 20px 0;
}

#list-delegaciones > li {
    margin-bottom: 10px;
}

/* answers#verificentros_cercanos */

#warning-verificentros {
    margin: 10px 0 20px 0;
}
