h2.title-back {
    margin-bottom: 10px;
}

h2.title a {
    text-decoration: none;
}

p.back-answers-top {
    margin-bottom: 20px;
}

p.back-answers-bottom {
    margin-top: 10px;
    margin-bottom: 0;
}

h4.title {
    font-size: 16px;
}

/* answers#home */

h3.category a {
    color: #333333;
    text-decoration: none;
}

/* answers#_sidebar */

@media(min-width: 992px) {
    #sidebar-answer { padding-top: 75px; }
}

@media(max-width: 991px) {
    #sidebar-answer { padding-top: 20px; }
}

#sidebar-answer .cta-box { 
    margin-bottom: 10px; 
}

#sidebar-answer a.more-info {
    text-decoration: none;
}

#sidebar-answer h4 {
    margin-top: 40px;
}

/* answers#_search */

#search-answers {
    background-color: #f2f5f6;
    border-bottom: 1px solid #d8d8d8;
}

#search-answers h1 {
    color: #494b57;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}

@media(max-width: 767px) {
    #form-answers button { margin-top: 15px; }
}

#search-error {
    margin: 10px 0;
}

#search-error span {
    margin: 5px 0;
}

#search-error p {
    margin: 5px 0 5px 30px;
}


/* answers#answer */

h1.question {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

@media(min-width: 1210px) {  
    .answer { padding-right: 50px; }
}

@media(min-width: 992px) and (max-width: 1209px) {
    .answer { padding-right: 25px; }
}

@media(max-width: 991px) {
    .answer { padding-right: 0; }
}

div.answer h2 {
    font-size: 22px;
    margin: 20px 0 10px 0;
}

div.answer p.lead {
    font-size: 17px;
    margin: 25px 0;
    padding: 10px;
    background-color: #f2f5f6;
    border: 1px solid #d8d8d8;
}

#answer-sidebar {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #E6E6E6
}

#answer-sidebar h2 {
    margin: 15px 0;
    font-size: 22px;
}

/* answers#verificientros */

@media(max-width: 767px) {
    #form-verificentros button { margin-top: 15px; }
}

/* answers#_verificentro */

div.verificentro {
    margin-bottom: 20px;
}

h4.verificentro-title {
    color: #494b57;
    font-size: 18px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: normal;
}

p.verificentro-address {
    font-size: 14px;
    margin-bottom: 5px;
}

/* answers#verificentros_search */

#verificentros {
    margin-top: 15px;
}
