/* answers#home */

h3.category a {
    color: #333333;
}

/* answers#answer */

h1.question {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.answer h2 {
    font-size: 22px;
    margin: 20px 0 10px 0;
}

.answer p.lead {
    font-size: 17px;
    margin: 10px 0;
}

#answer-sidebar {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #E6E6E6
}

#answer-sidebar h2 {
    margin: 15px 0;
    font-size: 22px;
}

/* answers#verificientros */

#form-verificentros, #list-delegaciones {
    margin-top: 20px;
}

/* answers#verificentros_cercanos */

#warning-verificentros {
    margin: 10px 0 20px 0;
}
