@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import "bootswatch/cosmo/bootswatch";

body {
    padding-top: 50px;
    /*padding-bottom: 50px;*/
}

.navbar > .container .navbar-brand {
    margin-left: 0px;
}

footer {
    background-color: #E6E6E6;
}

footer p {
    line-height: 49px;
    margin-bottom: 0;
}
