body {
   padding-top: 50px;
}

/* buttons */

.btn, .btn-primary, .btn-default {
    background-color: #268f8d;
    border-color: #268f8d;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #6c6e77;
    background-color: #fee550;
    border-color: #fee550;
}

.btn-wide {
    width: 100%;
}

/* call to action */

.cta-box {
    border-color: #fee550;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
    color: #268f8d;
}

.cta-box h3 {
    margin-top: 0;
}

.cta-msg {
    color: #6c6e77;
}

/* colors */

.green {
    color: #53b76c;
}

.yellow {
    color: #fee550;
}

.red {
    color: #ff0019;
}

.blue {
    color: blue;
}

/* icons */

.icon {
    margin-top: 3px;
    font-size: 20px;
    float: left;
}

.msg {
    margin-left: 30px;
}

/* navbar */

.navbar {
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: #268f8d;
    margin: 0 50px 0 0;
}

.navbar ul li {
    border-left: 1px solid #d8d8d8;
}

.navbar ul li:last-child {
    border-right: 1px solid #d8d8d8;
}

.navbar ul li a {
    color: #6c6e77;
}

.navbar ul li a:hover {
    color: #6c6e77;
    background-color: #fee550;
}

.navbar .active {
    color: white;
    background-color: #268f8d;
    font-weight: normal;
}

.navbar-toggle {
    background-color: #268f8d;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

/* footer */

/*footer {
    background-color: #E6E6E6;
}

footer p {
    line-height: 49px;
    margin-bottom: 0;
}*/
