/* info#home */

#txt-info-home {
    margin-top: 10px;
}

#txt-info-welcome {
    margin-bottom: 20px;
}

#form-info-home input, #form-info-home button {
    margin-bottom: 20px;
}

/* info#vin */

#form-info-vin input, #form-info-vin button {
    margin-bottom: 20px;
}

/* info#registration */

#form-info-registration input,
#form-info-registration select, 
#form-info-registration button {
    margin-bottom: 20px;
}

/* info#results */
#table-info {
    margin-bottom: 10px;
}

.row-info p {
    padding: 5px;
    margin: 0;
}

.hr-info {
    margin: 0;
}

.section-info {
    font-size: 23px;
}

/* info#verificaciones */

#alert-verificaciones {
    margin-top: 15px;
}

/* info#infracciones */

#alert-infracciones {
    margin-top: 15px;
}

/* info#infracciones e info#verificaciones*/

.regresar-info {
    margin: 20px 0;
}
