/* info#home */
.jumbotron {
    background-color: #f2f5f6;
    padding: 24px 0 24px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
}

.jumbotron h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #268f8d;
    font-size: 80px;
}

.jumbotron p {
    margin: 0 0 15px 0;
    text-align: left;
    color: #6c6e77;
    font-size: 20px;
}

.jumbotron .icon {
    font-size: 20px;
    float: left;
    margin-top: 18px !important;
}

.jumbotron .msg {
    margin: 15px 0 0 30px !important;
    font-size: 18px;
}

.input-home {
    margin-top: 10px;
}

h2.section {
    color: #268f8d;
    font-size: 26px;
}

@media(max-width: 767px) {
    .jumbotron h1 { font-size: 60px; }
}

@media(max-width: 480px) {
    .jumbotron h1 { font-size: 40px; }
    .jumbotron p { font-size: 18px; }
    .jumbotron .msg { font-size: 16px; }
}

/* info#_header */

#header {
    background-color: #f2f5f6;
    border-bottom: 1px solid #d8d8d8;
}

#header h1 {
    color: #494b57;
}

.box-info {
    margin-bottom: 10px;
}

@media(min-width: 992px) {
    .box-info { margin-top: 20px; }
}

@media(max-width: 991px) {
    .box-info { margin-top: 0; }
}

.box-info p {
    margin-bottom: 5px;
}

.table-info-key {
    color: #bcbcbc;
}

.table-info-value {
    color: #494b57;
    font-weight: bold;
}

/* info#vin e info#registration*/

#form-info {
    margin-top: 30px;
}

.input-info {
    margin-top: 15px;
}

.submit-info {
    margin-top: 15px;
}

/* info#infracciones e info#verificaciones*/

h2.history-title {
    margin-bottom: 10px;
}

.history {
    margin-bottom: 0;
}

.back-info-top {
    margin-bottom: 20px;
}

.back-info-bottom {
    margin-top: 10px;
    margin-bottom: 0;
}

.empty-info {
    margin-top: 10px;
}
