/* info#home */

.jumbotron {
    background-color: #f0f0f0;
    padding: 16px 60px 24px 60px;
    margin-bottom: 8px;
}

.jumbotron h1 {
    margin-top: 0;
}

.jumbotron p {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.jumbotron p.help-block {
    font-size: 15px;
    margin: 15px 0 0 0;
}

#btn-home {
    margin-top: 3px; 
}

/* info#vin */

#form-info-vin input, #form-info-vin button {
    margin-bottom: 20px;
}

/* info#registration */

#form-info-registration input,
#form-info-registration select, 
#form-info-registration button {
    margin-bottom: 20px;
}

/* info#results */
#table-info {
    margin-bottom: 10px;
}

.row-info p {
    padding: 5px;
    margin: 0;
}

.hr-info-middle {
    margin: 0;
}

.hr-info {
    margin: 0 0 10px 0;
}

.section-info {
    margin-top: 10px;
    font-size: 23px;
}

.status-info {
    margin-bottom: 10px;
}

/* info#verificaciones */

#alert-verificaciones {
    margin-top: 15px;
}

/* info#infracciones */

#alert-infracciones {
    margin-top: 15px;
}

/* info#infracciones e info#verificaciones*/

.regresar-info {
    margin: 20px 0;
}
