/* notices#home */

.lead {
    margin-top: 21px;
}

.btn-notices-home {
    display: block;
    margin: 10px auto;
}

#btn-notices-ok {
    margin: 10px 0 20px 0;
}

/* notices#results */

#btn-notices-error {
    margin-bottom: 20px;
}
