/* notices#home */

#form-notices label {
    text-align: left;
}

#btn-notices-error {
    margin-top: 5px;
}

@media(max-width: 991px) {
    #form-notices .form-group { margin-bottom: 5px; }
    .input-notices { margin-top: 15px; }
    .error-notices { margin-top: 10px; }
    .error-notices p { margin-bottom: 0; }
    #form-notices button { margin-top: 10px; }
}
