.about-box {
    padding-bottom: 0;
}

@media(max-width: 991px) {
    .about-box { margin-top: 30px; }
}

.thanks {
    background-color: #f2f5f6;
    border: 1px solid #d8d8d8;
    margin-top: 40px;
}

.thanks img {
    margin: 0 auto;
}
