<div class="cta-box">
  <h3>Recordatorios</h3>
  <p class="cta-msg">Evita filas o multas recibiendo avisos
    oportunos sobre tus obligaciones como automovilista
    particular de la Ciudad de México.</p>
  <div class="row">
    <div class="col-xs-12">
      <a href="<%= url_for({ controller: 'notices',
               action: 'home' })%>" 
               id="btn-notices">¡Suscríbete!</a>
    </div>
  </div>
</div>
