<!-- footer -->
<!-- <footer> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col-md-6"> -->
<!--         <p><a href="http://codigo.labplc.mx">Código Ciudad de México</a></p> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </footer> -->
