<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <p><a href="#">Acerca de Verifícalo</a></p>
      </div>
      <div class="col-sm-4 text-center hidden-xs">
        <p><a href="mailto:contacto@verificalo.mx">Contactanos</a></p>
      </div>
      <div class="col-sm-4 text-right hidden-xs">
        <p><a href="http://codigo.labplc.mx">Código para la Ciudad de
            México</a></p>
      </div>
    </div>
  </div>
</footer>
