<!-- notices#success -->
<div class="row">
  <div class="col-md-12">
    <h1>Avisos</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @error %>
    <div class="alert alert-warning">
      <strong><%= @error %></strong></div>
    <% else %>
    <div class="alert alert-success">La suscripción a los avisos de su
      auto con placa <strong><%= @user.plate %></strong> ha sido
      activada.</div>
    <% end %>
  </div>
</div>

<%= debug(@user) if Rails.env.development? %>
