<div class="row">
  <div class="col-md-12">
    <p class="lead">¿A qué dirección de correo electrónico debemos
      enviar los avisos?</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-10">
          <input type="email" class="form-control"
                 id="input-notices-email"
                 placeholder="Su correo electrónico">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <span class="help-block">No compartiremos su dirección personal
      con nadie</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button id="btn-notices-ok" type="submit"
            class="btn btn-primary btn-notices-form">Continuar</button>
  </div>
</div>  
