<!-- notices#home -->
<h1>Avisos</h1>

<%= form_tag({ controller: 'notices', action: 'results' },
    { method: 'post', id: 'form-notices-home' }) do %>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">¿Por qué medio desea recibir sus avisos?</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <button id="btn-notices-home-email"
              class="btn btn-primary btn-notices-home"
              type="submit">Correo electrónico</button>
    </div>
    <div class="col-md-4">
      <button id="btn-notices-home-sms" 
              class="btn btn-primary btn-notices-home" 
              type="submit">Mensaje de texto</button>
    </div>
    <div class="col-md-3">
      <button id="btn-notices-home-phone"
              class="btn btn-primary btn-notices-home"
              type="submit">Llamada telefónica</button>
    </div>
  </div>
  
  <div id="notices-subform" style="display: none;"></div>
<% end %>

<script>
var btn_subforms = { 
'btn-notices-home-email' : '<%= url_for({ controller: 'notices', action: 'email' }) %>',
'btn-notices-home-sms' : '<%= url_for({ controller: 'notices', action: 'sms' }) %>',
'btn-notices-home-phone' : '<%= url_for({ controller: 'notices', action: 'phone' }) %>',
};
</script>
