<h1>Avisos</h1>

<div class="row">
  <div class="col-md-12">
    <p class="lead">¿Por qué medio desea recibir los avisos sobre su
      auto?</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <button id="btn-notices-home-email" type="submit"
            class="btn btn-primary btn-notices-home">Correo
            electrónico</button>
  </div>
  <div class="col-md-4">
    <button id="btn-notices-home-sms" type="submit"
            class="btn btn-primary btn-notices-home">Mensaje de
            texto</button>
  </div>
  <div class="col-md-3">
    <button id="btn-notices-home-phone" type="submit"
            class="btn btn-primary btn-notices-home">Llamada
      telefónica</button>
  </div>
</div>
