<!-- notices#results -->
<div class="row">
  <div class="col-md-12">
    <h1>Avisos</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @error %>
    <div class="alert alert-warning">
      <strong><%= @error %></strong></div>
    <% else %>
    <% if @user.via == 'EMAIL' %>    
    <div class="alert alert-info">Para activar la suscripción a los
      avisos de su automovil con placa
      <strong><%= @user.plate %></strong> debe visitar la dirección que
      le enviamos a su correo electrónico.</div>
    <% elsif @user.via == 'PHONE' %>
    <div class="alert alert-info">PHONE</div>
    <% end %>
    <% end %>
  </div>
</div>

<%= debug(@user) if Rails.env.development? %>
<%= debug(@settings) if Rails.env.development? %>
