<!-- info#_legal -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Importante</h2>
      <p>La información mostrada tiene caracter informativo y no puede
        ser utilizada como un documento oficial. Conserva el último
        certificado de verificación y los pagos de tenencías e
        infracciones para cualquier aclaración.</p>
    </div>
  </div>
</div>
