<!-- info#home -->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Verifícalo<sup><small>Beta</small></sup></h1>
      <p>Ingrese la placa de su auto y consulte el estado de su
        verificacion, hoy no circula, infracciones y tenencias.</p>
      <% if @error %>
      <!-- si hay error -->      
      <% if @error == 'INVALID_PLATE' %>
      <div class="alert alert-warning"><strong>La placa que ingreso no es
          de un auto particular de la Ciudad de México.</strong></div>
      <% else %>
      <div class="alert alert-warning"><strong>Intente más
          tarde:</strong> Tenemos problemas técnicos para
        consultar las fuentes de datos sobre autos.</div>
      <% end %>
      <% end %>
      <%= form_tag({ controller: 'info', action: 'home' },
          { method: 'post', id: 'form-home' }) do %>
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <input name="plate" type="text" placeholder="Placa"
                 class="form-control input-lg">
        </div>
        <div class="col-md-2 col-sm-4">
          <button id="btn-home" type="submit"
                  class="btn btn-primary btn-lg">Consulta</button>
        </div>
      </div>
      <% end %>
      <p class="help-block">Solo autos particulares de la Ciudad de
        México.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Avisos</h2>
    <p>Evite filas o multas recibiendo avisos oportunos sobre sus
      obligaciones como automovilista particular del Distrito
      Federal.</p>
    <p><a href="<%= url_for({ controller: 'notices', action: 'home' })%>"
          id="btn-notices" class="btn btn-default">Suscribirse &raquo;</a></p>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h2>Respuestas</h2>
    <p>Encuentre verificentros, donde pagar sus adeudos, consejos para
      ahorrar gasolina y todo sobre automoviles de la Ciudad de
      México.</p>
    <p><a href="<%= url_for({ controller: 'answers', action: 'home' })%>"
          id="btn-answers" class="btn btn-default" href="#">Preguntar
        &raquo;</a></p>
  </div>
  <!-- <div class="col-md-4">
       <h2>Uso inteligente</h2>
    <p>Utilizar racionalmente su auto le puede ahorrar tiempo y
      dinero además de cuidar el medio ambiente de la Ciudad de
      México.</p>
       <p><a id="btn-inteligent" class="btn btn-default" href="#">Conozca
    más &raquo;</a></p> -->
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/home');
  ga('set', 'title', 'Info - Home');
  ga('send', 'pageview');
</script>
