<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body style="font-size: 15px; 
               font-family: 'Open Sans',Calibri,Candara,Arial,sans-serif;">
    <table align="center" cellpading="0" cellspacing="0" border="0" width="600"
           style="border-collapse: separate; border-spacing: 0 25px;">
      <!-- header -->
      <tr>
        <td style="width: 100%; 
                   height: 50px;
                   padding: 0 15px;
                   background-color: #268f8d;
                   border: 1px solid #268f8d;">
          <a href="<%= url_for(controller: 'info', action: 'home', only_path: false) %>"
             style="color: #f2f5f6; font-size: 23px;  font-weight: bold;
                    margin: 30px 0 20px 0;  line-height: 50px;
                    text-decoration: none;">VERIFÍCALO</a>
        </td>
      </tr>
      <!-- content -->
      <tr>
        <td style="width: 100%; 
                   padding: 0 15px; 
                   border: 1px solid #fee550;">
          <%= yield %>
        </td>
      </tr>
      <!-- footer -->
      <tr>
        <td style="width: 100%;
                   padding: 0 15px;
                   border: 1px solid #d8d8d8;
                   background-color: #f2f5f6;">
          <p style="margin: 5px 0;">
            <a href="<%= url_for(controller: 'notices', 
                     action: 'user', 
                     uuid: @user.id, only_path: false) %>"
               style="text-decoration: none;
                      font-size: 13px;
                      color: #268f8d;">Modifica o cancela tu
              suscripción</a></p>
          <p style="margin: 5px 0;">
            <a href="<%= url_for(controller: 'static_pages', 
                     action: 'about', only_path: false) %>"
               style="text-decoration: none;
                      font-size: 13px;
                      color: #268f8d;">Acerca de Verifícalo</a></p>
          <p style="margin: 5px 0;">
            <a href="mailto:contacto@verificalo.mx"
               style="text-decoration: none;
                      font-size: 13px;
                      color: #268f8d;">Contactanos</a></p>
        </td>
      </tr>
    </table>
  </body>
</html>
