<!-- home -->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Infórmate</h1>
      <p>La información de tu auto particular sobre verificaciones,
        hoy no circula, tenecias e infracciones en un solo lugar</p>
      <%= form_tag({ controller: 'info', action: 'results' },
          { method: 'post', class: 'form-inline',
          id: 'form-info-home' }) do %>
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <input name="plate" type="text" placeholder="Placa"
                 class="form-control input-lg">
        </div>
        <div class="col-md-2 col-sm-4">
          <button id="btn-info-home" type="submit"
                  class="btn btn-primary btn-lg">Consulta</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Avisos</h2>
    <p>Evita filas o mutas recibiendo avisos oportunos sobre tus
      obligaciones como automovilista particular del Distrito
      Federal</p>
    <p><a id="btn-notices" class="btn btn-default" href="#">Date
    de alta &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Respuestas</h2>
    <p>Encuentra las respuestas a tus preguntas sobre tramites de
      automoviles particulares del Distrito Federal</p>
    <p><a id="btn-answers" class="btn btn-default" href="#">Pregunta
    &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Uso inteligente</h2>
    <p>Utilizar racionalmente tu auto te puede ahorrar tiempo y
      dinero además de cuidar el medio ambiente de la Ciudad de
      México</p>
    <p><a id="btn-inteligent" class="btn btn-default" href="#">Conoce
    más &raquo;</a></p>
  </div>
</div>
