<!-- static_pages#home -->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Infórmación</h1>
      <p>Conozca sus obligaciones como automovilista
        particular de la Ciudad de México</p>
      <%= form_tag({ controller: 'info', action: 'home' },
          { method: 'post', class: 'form-inline', id: 'form-home' }) do %>
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <input name="plate" type="text" placeholder="Placa"
                 class="form-control input-lg">
        </div>
        <div class="col-md-2 col-sm-4">
          <button id="btn-home" type="submit"
                  class="btn btn-primary btn-lg">Consulta</button>
        </div>
      </div>
      <p class="help-block">Ingrese la placa de su auto y consulte
        el estado de su verificacion, hoy no circula, infracciones y
        tenecias</p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Avisos</h2>
    <p>Evite filas o mutas recibiendo avisos oportunos sobre sus
      obligaciones como automovilista particular del Distrito
      Federal.</p>
    <p><a href="<%= url_for({ controller: 'notices', action: 'home' })%>"
          id="btn-notices" class="btn btn-default">Suscribirse &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <!-- <h2>Respuestas</h2>
    <p>Encuentre las respuestas a sus preguntas sobre tramites de
      automoviles particulares del Distrito Federal.</p>
    <p><a id="btn-answers" class="btn btn-default" href="#">Preguntar
    &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Uso inteligente</h2>
    <p>Utilizar racionalmente su auto le puede ahorrar tiempo y
      dinero además de cuidar el medio ambiente de la Ciudad de
      México.</p>
    <p><a id="btn-inteligent" class="btn btn-default" href="#">Conozca
    más &raquo;</a></p> -->
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/');
  ga('set', 'title', 'Home');
  ga('send', 'pageview');
</script>
